[http]
[push]
	default = simple
	followTags = true
[https]
[user]
	email = mtb.vang@gmail.com
	name = Vang Nguyen
[http]
[http]
[https]
[http]
[https]
[http]
[https]
[http]
[https]
[http]
[core]
	autocrlf = input
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[diff]
	guitool = meld
[credential]
	helper = cache --timeout=3600
